ul.months {
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	bottom: 360px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;

	li {
		display: inline-block;
		margin-right: 40px;
		padding: 0 5px 0 5px;

		&:last-child {
			margin-right: 0;
		}

		span {
			display: inline-block;
			padding-left: 5px;
		}

		&.selected {
			color:#000;
			background:#fff;
		}
	}
}

.dayStrip {
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: absolute;
	bottom: 245px;

	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;	
}

ul.days {
	list-style-type: none;
	white-space: nowrap;
	font-size: 50px;
	font-weight: bold;
	height: 80px;
	position: absolute;


/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);	


	li {
		display: inline-block;
		margin-right: 40px;
		position: relative;
		width: 70px;
		
		&:first-child {
			margin-left: 30px;
		}

		&:last-child {
			margin-right: 0;
		}

		span {
			font-size: 18px;
			position: absolute;
			bottom: -20px;
			left: 0;		
			width: 70px;
		}

		&.selected {
			background: #fff;
			color: #000;

			span {
				background: #fff;
				color: #000;		
			}	
		}
	}	
}

.timerStrip {
	background: #fff;
	height: 190px;
	width: 100%;
	position: absolute;
	bottom: 50px;
	font-size: 180px;
	color: #000;


	ul.timer {
		list-style-type: none;
		margin: -12px 50px;
		text-align: right;

		
		li {
			font-family: Impact;
			display: inline-block;
			margin-right: -30px;
			position: relative;
			width: 194px;
			text-align: center;


			&:last-child {
				font-size: 50px;
				vertical-align: top;
				padding-top: 20px;
				margin-right: 0;
				margin-left: -20px;
				width: 60px;
			}

			span:nth-child(2) {
				font-family: Helvetica;
				font-weight: bold;
				font-size: 22px;
				position: absolute;
				bottom: -20px;
				left: 10px;
				color: #fff;
				width: 180px;
				text-align: center;
			}
		}
	}	
}

