.events {
	padding-top: 90px;
}

.cube {
	width: 704px;
	margin: 0 auto;
	height: 90px;
	color: #000;
	text-align: left;
	font-size: 52px;
	font-weight: bold;
	-webkit-transition: .33s;
	transition: .33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
	margin-bottom: 40px;

}

/* The two faces of the cube */
.sideA, .sideB {
	width: 704px;
	padding: 10px 0 0 10px;
	background: #fff;
	height: 90px;


	div.heading {
		font-size: 52px;
		display: inline;
	}

	span {
		background: #000;
		color: #fff;
		display: inline-block;
		position: relative;
		width: 65px;
		text-align: center;
		clear: both;
		position: absolute;
    	right: 10px;

		span {
			width: 65px;
			text-align: center;
			font-size: 18px;
			position: absolute;
			left:0px;
			bottom: -14px;
		}
	}
}

/* Position the faces */
.sideA {
	-webkit-transform: translateZ(50px);
	transform: translateZ(50px);	
}

.sideB {
	-webkit-transform: rotateX(-90deg) translateZ(-50px);
	transform: rotateX(-90deg) translateZ(-50px);
	background-size: cover;
	background-repeat:no-repeat;

	color: #000;

	div.heading {
		color: #fff;
		background: #000;
		padding: 5px;

	}

	div.info{
		font-size: 18px;
		background: #000;
		font-weight: normal;
		color: #fff;
		height: 90px;
		overflow: hidden;
		width: 674px;
		margin: 35px 10px 10px 0;
		padding: 10px;
		overflow: hidden;
		display: none;

			&.active {
				display: block;
			}

		a.moreTxt {
			color: black;
			background: white;
			float: right;
			margin-right: 5px;
			margin-top: 5px;
			font-size: 14px;
			padding: 1px;
		}
	}	
}


/* Rotate the cube */
.cube.active {
	-webkit-transform: rotateX(89.9deg);
	transform: rotateX(89.9deg); /* Text bleed at 90º */
}

.cube.active2 {
	 -webkit-transition: .3s;
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90º */
	height: 220px;

	.sideB {
		height: 220px;
		-webkit-transition: height .3s;
	}
}

.popupModal {
	padding: 50px;

	.content {
		width: 100%;
		padding: 0px;

		.info {
			margin-top: 20px;
			height: 300px;
			white-space: pre-line;
			overflow: scroll;			
		}

		div.header {
			font-size: 52px;
			color: #fff;
			background: #000;
			display: block;
			padding: 10px 0 10px 0px;
			position: relative;

			span {
				background: #000;
				color: #fff;
				display: block;
				position: relative;
				width: 65px;
				text-align: center;
				font-weight: bold;
				position: absolute;
		    	right: 10px;
		    	top: 0;

				span {
					width: 65px;
					text-align: center;
					font-size: 18px;
					position: absolute;
					left:0px;
					top: 70px;
					top: 61px;
				}
			}			

		}
	}
}

.content .cover {
	overflow: hidden;
	height: 249px;
	width: 840px;
	margin-top: 20px;
	background-repeat: none;
	background-size: cover;
}


// ul.months {
// 	list-style-type: none;
// 	font-size: 18px;
// 	font-weight: bold;
// 	position: absolute;
// 	bottom: 360px;
// 	white-space: nowrap;
// 	width: 100%;
// 	overflow: hidden;

// 	li {
// 		display: inline-block;
// 		margin-right: 40px;
// 		padding: 0 5px 0 5px;

// 		&:last-child {
// 			margin-right: 0;
// 		}

// 		span {
// 			display: inline-block;
// 			padding-left: 5px;
// 		}

// 		&.selected {
// 			color:#000;
// 			background:#fff;
// 		}
// 	}
// }

// .dayStrip {
// 	width: 100%;
// 	height: 100px;
// 	overflow: hidden;
// 	position: absolute;
// 	bottom: 245px;

// 	/* Prevent native touch events on Windows */
// 	-ms-touch-action: none;

// 	/* Prevent the callout on tap-hold and text selection */
// 	-webkit-touch-callout: none;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;

// 	/* Prevent text resize on orientation change, useful for web-apps */
// 	-webkit-text-size-adjust: none;
// 	-moz-text-size-adjust: none;
// 	-ms-text-size-adjust: none;
// 	-o-text-size-adjust: none;
// 	text-size-adjust: none;	
// }

// ul.days {
// 	list-style-type: none;
// 	white-space: nowrap;
// 	font-size: 50px;
// 	font-weight: bold;
// 	height: 80px;
// 	position: absolute;


// /* Prevent elements to be highlighted on tap */
// 	-webkit-tap-highlight-color: rgba(0,0,0,0);

// 	/* Put the scroller into the HW Compositing layer right from the start */
// 	-webkit-transform: translateZ(0);
// 	-moz-transform: translateZ(0);
// 	-ms-transform: translateZ(0);
// 	-o-transform: translateZ(0);
// 	transform: translateZ(0);	


// 	li {
// 		display: inline-block;
// 		margin-right: 40px;
// 		position: relative;
// 		width: 70px;
		
// 		&:first-child {
// 			margin-left: 30px;
// 		}

// 		&:last-child {
// 			margin-right: 0;
// 		}

// 		span {
// 			font-size: 18px;
// 			position: absolute;
// 			bottom: -20px;
// 			left: 0;		
// 			width: 70px;
// 		}

// 		&.selected {
// 			background: #fff;
// 			color: #000;

// 			span {
// 				background: #fff;
// 				color: #000;		
// 			}	
// 		}
// 	}	
// }

// .timerStrip {
// 	background: #fff;
// 	height: 190px;
// 	width: 100%;
// 	position: absolute;
// 	bottom: 50px;
// 	font-size: 180px;
// 	color: #000;


// 	ul.timer {
// 		list-style-type: none;
// 		margin: -12px 50px;
// 		text-align: right;

		
// 		li {
// 			font-family: Impact;
// 			display: inline-block;
// 			margin-right: -30px;
// 			position: relative;
// 			width: 194px;
// 			text-align: center;


// 			&:last-child {
// 				font-size: 50px;
// 				vertical-align: top;
// 				padding-top: 20px;
// 				margin-right: 0;
// 				margin-left: -20px;
// 				width: 60px;
// 			}

// 			span:nth-child(2) {
// 				font-family: Helvetica;
// 				font-weight: bold;
// 				font-size: 22px;
// 				position: absolute;
// 				bottom: -20px;
// 				left: 10px;
// 				color: #fff;
// 				width: 180px;
// 				text-align: center;
// 			}
// 		}
// 	}	
// }

